@font-face {
    font-family: 'Linearicons';
    src: url('Linearicons.eot');
    src: url('Linearicons.eot?#iefix') format('embedded-opentype'),
        url('Linearicons.woff2') format('woff2'),
        url('Linearicons.woff') format('woff'),
        url('Linearicons.ttf') format('truetype'),
        url('Linearicons.svg#Linearicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

